.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 21px;
	margin-top: 200px;
}

.registration {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 55px;
}

.link {
	text-decoration: none;
	color: #4C4CFF;
}