.ingredients {
	max-width: 600px;
}

.ingredients_container {
	max-width: 600px;
	height: 1000px;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 40px;
}

.ingredients_card {
	max-width: 272px;
	height: 208px;
	list-style: none;
	text-align: center;
	position: relative;

}

.ingredients_price {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 9px;
	margin-top: 4px;
	margin-bottom: 4px;

}

.ingImage {
	width: 240px;
	height: 120px;
	object-fit: contain;

}

.buns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 32px;
	column-gap: 24px;
	margin-left: 16px;
}

.sauces {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 32px;
	column-gap: 24px;
	margin-left: 16px;
}

.stuffing {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 32px;
	column-gap: 24px;
	margin-left: 16px;
}