.page {
	display: flex;
	flex-direction: row;
	max-width: 1920px;
	max-height: 1000px;
	margin: 0 auto;
	justify-content: center;
	gap: 40px;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37;
	padding-top: 20px;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	background: #8585AD;
}

::-webkit-scrollbar-button {
	display: none;
}